@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");

html {
  background-image: url(../Images/daniel-apodaca-NwCIEX2UIL0-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding-top: 25px;
}

/* weather-app {
  display: flex;
  justify-content:center;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1.location-details {
  display: flex;
  justify-content: center;
  color: #d9c2ba;
  padding-top: 20px;
  font-size: 38px;
}

/* From cssbuttons.io by @adamgiebl */
/* button {
  display: relative;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: #d9c2ba;
  background: #d9c2ba;
  background: linear-gradient(0deg, #038c8c 0%, #d9c2ba 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #1e3c40;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

button {
  margin-right: 6px;
}

button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #329aa6;
}

button:active {
  box-shadow: 0 0.3em 1em -0.5em #1e3c40;
} */

/* From cssbuttons.io by @adamgiebl */
button {
  color: #000506;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 16px;
  background: #d9c2ba;
  border: 1px solid #d9c2ba;
  transition: all 0.3s;
  box-shadow: 1px 1px 3px #d9c2ba, -1px -1px 3px #d9c2ba;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

div.forecast-summary__date {
  color: #000506;
  font-weight: bold;
}

span.search-form {
  /* border: 1px solid; */
  /* border-color: rgb(212, 133, 59); */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* div.forecast-details__wind,
div.forecast-details__temperature,
div.forecast-details__humidity {
  display: flex;
  justify-content: center;
} */

span.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff15;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(180, 173, 173, 0.103);
  text-align: center;
}

div.forecast-summaries {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

div.forecast-summary {
  justify-content: space-between;
}

input {
  background-color: #d9c2ba;
  border: 2px solid #d9c2ba;
  border-radius: 10px;
  /* background: linear-gradient(0deg, #038c8c 0%, #d9c2ba 100%); */
}

div.forecast-summary {
  background-color: #d9c2ba;
  padding: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff15;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(180, 173, 173, 0.103);
  text-align: center;
}

h1.location-details,
div.search-form {
}

div.forecast-details {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff15;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(180, 173, 173, 0.103);
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

div.forecast-summary__icon {
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

div.forecast-summary__date {
  font-size: 20px;
}
